<template>
  <v-container class="grey flex-column align-center justify-center">
      <h4 class="card-header mt-5 justify-center">{{title}}</h4>
        <v-card
          class="pa-2"
          outlined
          tile
        >        
          <v-text-field
            label="location"
            v-bind:value="value"
            @input="$emit('input', $event)"
          ></v-text-field>
        </v-card>
  </v-container>
  
</template>


<script>
export default {
  name: 'InputLocation',
  props : ['value'],
  data: function() {
      return {        
        title : "Filter location",
    }},
};
</script>
