<template>
  <v-container class="grey flex-column ">
      <h4 class="card-header align-stretch mt-5">{{title}}</h4>
        <v-card
          class="pa-2"
          outlined
          tile
        >
        <v-select
            :items="items"
            v-model="select"
            @input="$emit('input', $event)"
            @select="$emit('select', $event)"
            item-text="text"
            item-value="value"
            label="outcome"                        
        ></v-select>

        </v-card>
  </v-container>
  
</template>


<script>
export default {
  name: 'InputOutcome',
  props: ['value'],
  data: function() {
      return {
        title : "Filter outcome",
        select: { text: 'both', value: null },
        items: [
            {text:'both', value:null}, 
            {text:'true', value:true}, 
            {text:'false', value:false}
        ],
    }},

    methods: {
        updateOutcome : function(e) {

            console.log("updateOutcome")
            console.log(e.target.value)
            if (e.target.value == 'true') {
                this.outcome = true
            }
            if (e.target.value == 'false') {
                this.outcome = false
            }
            if (e.target.value == 'both') {
                this.outcome = null
            }         
            this.$emit("input", this.outcome) 
        }
    }
};
</script>
