<template>
    <v-container class="grey pa-2 center">
        <v-container class="grey d-flex align-stretch pa-2">   
            <input-location v-model="parameters.location" />
            <input-outcome v-model="parameters.outcome"  />
        </v-container>   
        <v-container>  
            <v-layout flex align-center justify-center>
            <input-timestamp v-model="parameters.timestamps" :titles="this.titlesTimestamp"/>
            <input-timestamp v-model="parameters.page" :titles="this.titlesPage" />    
            </v-layout>        
        </v-container>     
        <v-container>   
            <v-layout flex align-center justify-center>
                <v-btn depressed color="primary" align="center" justify="center" @click.prevent="searchAlarms">            
                Search Alarms
                </v-btn>      
            </v-layout>  
        </v-container>          
    </v-container>
</template>


<script>
import InputTimestamp from './InputTimestamp.vue';
import InputLocation from './InputLocation.vue';
import InputOutcome from './InputOutcome.vue';
import { buildUrl } from '../services/FetchEndpoint.js';

export default {
  components: {  InputTimestamp, InputLocation, InputOutcome },

  name: 'InputForm',
  data: function() {
      return {
          parameters: {
            timestamps: [null, null],
            outcome : null,
            location : null,
            page: [
                null,
                null,
            ],
        },
        list : null,
        titlesTimestamp : ["Filter timestamp", "Initial timestamp", "Final timestamp"],
        titlesPage : ["Configure page result", "Page number", "Page size"],
    }},
    methods: {
        searchAlarms : function() {
            let self = this;
            let url = buildUrl(this.parameters);

            var requestOptions = {
                method: 'GET',
                redirect: 'follow'
            };

            fetch(url, requestOptions)
            .then((response) => {
                if (response.status !== 200)
                    alert('error fetching data') 
                    return response;
            })
            .then(response => response.json())
            .then (response => {
                self.$emit('alarms', response)                   
                return response;
            })
            .then (response => console.log(response))
            .catch(error => console.log('error', error));
         
        },
}        


}
</script>
