<template>
  <v-container class="grey">
      <h4 class="card-header mt-5">{{titles[0]}}</h4>
        <v-card
          class="pa-2"
          outlined
          tile
        >
          <v-text-field 
            :label="this.titles[1]"
            v-bind:value="value[0]"
            @input="handleBeginTs"
          ></v-text-field>
          <v-text-field
            v-bind:value="value[1]"
            @input="handleEndTs"
            :label="titles[2]"
          ></v-text-field>
    </v-card>
  </v-container>
  
</template>


<script>
export default {
  name: 'Timestamp',
  props: ["value", "titles"],
  data: function() {
      return {
    }},
    methods :{
        handleBeginTs : function(e) {
            let newValue = [e, this.value[1]]
            this.$emit('input', newValue);
        },
        handleEndTs : function(e) {
            let newValue = [this.value[0], e ]
            this.$emit('input', newValue);
        }
    }
};
</script>
