
<template>
  <v-container class="grey lighten-5 pa-2 center">
    <v-expansion-panels>
      <v-expansion-panel
        v-for="(item,i) in value"
        :key="i"
      >
        <v-expansion-panel-header>
          <div>
            Alarm {{i+1}}
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
           <p>Location Id : {{item.location}} </p> 
            <p>Location Name : {{item.locationName}}</p>          
            <p>Outcome: {{item.outcome}} </p>
            <p>Timestamp: {{item.timestamp}} </p>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
</v-container>
</template>

<script>


  export default {
    name: 'ResponseList',
    props: ['value'],
    data: function() {
      return {
      }},
  }
</script>