<template>
  <v-app>
    <v-main>        
        <input-form @alarms="getAlarmsList"/>
        <response v-model="list" />
    </v-main>
  </v-app>

</template>

<script>
import InputForm from './components/InputForm.vue';
import Response from './components/Response.vue';


export default {
  name: 'App',

  components: {
    Response,
    InputForm
  },

  data: 
    () => ({
      list : [],
          ltest : [ {
              timestamp: '1',
              outcome: false,
              location:10
          }     

          ]
    }),
  methods : {
    getAlarmsList : function(e) {
      console.log("alarm list")
      console.log(e)
      this.list = e;
    }
  }

};
</script>
